<div class="normal-wrapper">
  <div class="row">

    <div class="small-12 medium-6 large-4 small-centered columns">

      <h1><%= __('reset password') %></h1>

      <% if (typeof err!= 'undefined' ){ %>
        <div data-alert class="alert-box alert">
          <%= __(err) %>
        </div>
      <% } %>

          <form method="post" action="/user/updatePassword">

            <div class="row">
              <div class="large-12 columns">
                <label><%= __('New password') %>
                  <input type="hidden" name="email" value="<%= email %>" />
                  <input type="hidden" name="token" value="<%= token %>" />
                  <input type="password" name="password" placeholder="<%= __('New password') %>" />
                </label>
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns">
                <button type="submit" class="button"><%= __('Submit') %></button>
              </div>
            </div>
            
          </form>

    </div>

  </div>
</div>