<div class="normal-wrapper">
  <div class="row">

    <div class="small-12 medium-6 large-4 small-centered columns">

      <h1><%= __('reset password') %></h1>

      <% if (typeof err!= 'undefined' ){ %>
        <div data-alert class="alert-box alert">
          <%= __(err) %>
        </div>
      <% } %>

          <form method="post" action="/user/createResetPasswordToken">

            <div class="row">
              <div class="large-12 columns">
                <label><%= __('Email') %>
                  <input type="text" name="email" placeholder="<%= __('Email') %>" value="<%= req.body.email || '' %>" />
                </label>
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns">
                <button type="submit" class="button"><%= __('Submit') %></button>
              </div>
            </div>
            
          </form>

    </div>

  </div>
</div>