<div class="normal-wrapper">
  <div class="row">

    <div class="small-12 medium-6 large-4 small-centered columns">

      <h1><%= __('sign up as member') %></h1>

      <% if (typeof err != 'undefined' ){ %>
        <% _.each(err, function(error) { %> 

          <div data-alert class="alert-box alert">
            <%= __(error) %>
          </div>
        
        <% }) %>
        
      <% } %>

          <form method="post" action="/user/create">
            
            <div class="row">
              <div class="large-12 columns">
                <label><%= __('Register as a/an') %></label>
                <input type="radio" name="userType" value="user" <%= req.body.userType == 'user' ? 'checked' : '' %>>
                <label><%= __('Amateur') %></label>
                <input type="radio" name="userType" value="designer" <%= req.body.userType == 'designer' ? 'checked' : '' %>>
                <label><%= __('Designer') %></label>
              </div>
            </div>
            
            <div class="row">
              <div class="large-12 columns">
                <label><%= __('Email') %>
                  <input type="text" name="email" placeholder="<%= __('Email') %>" value="<%= req.body.email || '' %>" />
                </label>
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns">
                <label><%= __('Password') %>
                  <input type="password" name="password" placeholder="<%= __('Password') %>" />
                </label>
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns">
                <button type="submit" class="button"><%= __('Register') %></button>
              </div>
            </div>

          </form>

    </div>

  </div>
</div>