<div class="list-wrapper">
	<div class="row">
		<h1>
			<a href="/me/piece">my designs</a> 
			/ 
			<%= piece.title %>
		</h1>

		<ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-5">
		<% _.each(piece.images, function (image) { %>
		<li class="piece">

			<a href='<%= image.url %>'>
				<img src="http://res.cloudinary.com/boutiquesg/image/upload/c_fill,h_200,w_200/<%= image.public_id %>.<%= image.format %>" width="100%">
			</a>
			<div class="title">
				<a class="button" href='/me/piece/images/destroy/<%= piece.id %>?public_id=<%= image.public_id %>'>remove</a>
			</div>

		</li>
		<% }) %>
		</ul>

	</div>

	<div class="row">	  
	  <form action="/me/piece/images/<%= piece.id %>" class="dropzone" id="dropzone"></form>
	</div>

</div>
