<div class="list-wrapper">
	<div class="row">
		<h1>my designs</h1>
		<ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-5">
		<% _.each(pieces, function (piece) { %>
		<li class="piece">

			<a href='/piece/<%= piece.slugId %>'>
				<% if (typeof piece.images != 'undefined' && piece.images.length > 0) { %>
				<img src="http://res.cloudinary.com/boutiquesg/image/upload/c_fill,h_200,w_200/<%= piece.images[0].public_id %>.<%= piece.images[0].format %>" width="100%">
				<% } %>
			</a>
			<div class="title">
				<a class="button" href='/me/piece/edit/<%= piece.id %>'>edit</a>
				<a class="button" href='/me/piece/images/<%= piece.id %>'>manage images</a>
			</div>

		</li>
		<% }) %>
		</ul>

	</div>
</div>
